    <mat-toolbar color="primary" >
        <span >BookMart</span>
        <span class="tabs"> 
        <button mat-button routerLink="home">Home</button> 
         <button mat-button routerLink="admin">Admin</button>
        <!-- <button mat-button routerLink="contact">Contact</button>  -->
        <button mat-button routerLink="register">Register</button>
        <button mat-button routerLink="login" (click)="logout()" >{{isLoggedIn?'Logout':'Login'}}</button>
        
        </span>
    </mat-toolbar>
    