<app-search ></app-search> 

  <!-- <app-loading [msg]="'books'" ></app-loading> -->

 <br>  <button mat-raised-button color="primary" (click)="showTable()">{{!table? 'Show Table':'Hide Table'}}</button>
   <ng-container *ngIf="table">   <app-table  [dataSource]="books" [displayedColumns]="colums" ></app-table></ng-container>


<mat-grid-list cols="3" rowHeight="1:1" gutterSize="24px" class="book-grid">
    <mat-grid-tile *ngFor="let book of books">
        <mat-card class="book-item"  >
            <mat-card-header>
                <mat-card-title>Title: {{ book.title }}</mat-card-title>
                <mat-card-subtitle>Author: {{ book.author }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [ngStyle]='{ width: "80%", height: "auto", alignSelf: "center" }' [src]="book.imgUrl" alt="{{ book.title }}">
            <mat-card-content>
                <p>Description: {{ book.description }}</p>
            </mat-card-content>
                        <mat-card-content>
                <p>Quantity: {{ book.quantity }}</p>
            </mat-card-content>
            <mat-card-content>
                <p [ngStyle]="{ color: book.quantity ? 'green' : '  red' }"><b>Availability: {{ book.quantity ? 'In Stock' : 'Out of Stock' }}</b></p>
            </mat-card-content>
            <mat-card-content>
                <p>Price: {{ book.price | currency:'INR' }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!book.quantity">Add to Cart</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
